@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*******************************************/
/* Variables */
:root {
  --moderate-blue: hsl(238, 40%, 52%);
  --soft-Red: hsl(358, 79%, 66%);
  --light-grayish-blue: hsl(239, 57%, 85%);
  --pale-red: hsl(357, 100%, 86%);
  --dark-blue: hsl(212, 24%, 26%);
  --grayish-blue: hsl(211, 10%, 45%);
  --light-gray: hsl(223, 19%, 93%);
  --very-light-gray: hsl(228, 33%, 97%);
  --white: hsl(0, 0%, 100%);

  --ff-rubik: 'Rubik', sans-serif;
  --fs-default: clamp(0.875rem, 5vw, 1rem);
  --border-radius: 0.5rem;
  --transition: 150ms ease;
  --slow-transition: 300ms ease;
  --block-gap: 1rem;
  --box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.1);
}

/*******************************************/
/* General Styles */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: var(--ff-rubik);
  font-size: var(--fs-default);
  background-color: var(--grayish-blue);
  background-color: var(--very-light-gray);
}

button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-family: var(--ff-rubik);
  font-size: var(--fs-default);
  font-weight: 500;
}

a {
  text-decoration: none;
}

.hero-container {
  width: 100%;
  background-color: var(--white);
  border-radius: var(--border-radius);
  padding: clamp(1rem, 3vw, 1.5rem);
  box-shadow: var(--box-shadow);
}

.btn--hover {
  transition: opacity var(--transition);
}

.btn--hover:hover,
.btn--hover:focus-visible {
  opacity: 0.5;
}

svg {
  pointer-events: none;
}

.hidden {
  display: none !important;
}

/*******************************************/
/* Header Container */
#header {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: hsl(0, 0%, 100%, 0.97);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  padding-block: 0.75rem;
  z-index: 10;
  overflow: hidden;
  transition: border-radius var(--slow-transition), height var(--slow-transition);
}

#header.active {
  height: 100vh;
  border-radius: 0;
  animation: header-down var(--slow-transition) forwards;
}

#header::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  top: 3rem;
  background-color: var(--light-grayish-blue);
  transform-origin: left;
  transform: scaleX(0);
  transition: transform var(--slow-transition);
}

#header.active::after {
  transform: scaleX(1);
}

@keyframes header-down {
  99% {
    overflow: hidden;
  }
  100% {
    overflow: auto;
  }
}

@supports (backdrop-filter: blur()) {
  #header {
    background-color: hsl(0, 0%, 100%, 0.95);
    backdrop-filter: blur(3px);
  }
}

#menu-buttons {
  width: min(calc(100vw - 2rem), 45.75rem);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-self: flex-start;
  column-gap: 1.5rem;
  padding-inline: 1rem;
}

#switch-theme {
  position: relative;
}

#switch-input {
  appearance: none;
  position: absolute;
}

#switch-label {
  width: 3rem;
  cursor: pointer;
  background-color: var(--light-grayish-blue);
  border-radius: 0.75rem;
  padding: 0.25rem;
  display: flex;
  justify-content: space-between;
  position: relative;
}

#switch-label::after {
  content: '';
  display: block;
  position: absolute;
  top: 0.125rem;
  right: 0.125rem;
  width: 1.25rem;
  height: 1.25rem;
  background-color: var(--moderate-blue);
  border-radius: 50%;
  transition: transform var(--slow-transition);
}

.fa-solid {
  color: var(--dark-blue);
}

#switch-input:checked + #switch-label::after {
  transform: translateX(calc(-1.5rem));
}

#menu-btn {
  display: block;
  width: 20px;
  border-top: 2px solid;
  color: var(--moderate-blue);
}

#menu-btn::before,
#menu-btn::after {
  content: '';
  display: block;
  width: 20px;
  height: 2px;
  position: relative;
  background-color: currentColor;
  margin-top: 5px;
  transition: transform var(--slow-transition);
}

#header.active #menu-btn {
  border-top-color: transparent;
  color: var(--soft-Red);
}

#header.active #menu-btn::before {
  transform: rotate(135deg);
}

#header.active #menu-btn::after {
  transform: rotate(-135deg);
  top: -7px;
}

#menu-drop-down {
  width: min(calc(100vw - 2rem), 45.75rem);
  height: calc(100% - 3rem);
  position: absolute;
  top: 3rem;
  animation-name: hide-menu;
  animation-duration: 300ms;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

#header.active #menu-drop-down {
  animation-name: show-menu;
}

@keyframes hide-menu {
  to {
    visibility: hidden;
  }
}

@keyframes show-menu {
  to {
    visibility: visible;
  }
}

#drop-down-content,
#login-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--block-gap);
}

#drop-down-content {
  padding-block: 1rem 2rem;
}

#drop-down-content > h2 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--dark-blue);
  margin-block-end: 1rem;
}

#login-cards {
  width: 100%;
}

.login {
  width: min(100%, 400px);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: var(--block-gap);
  background-color: var(--very-light-gray);
  border-radius: var(--border-radius);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  padding: 1rem;
}

.login .user__avatar {
  width: 3rem;
  border: 2px solid var(--grayish-blue);
  border-radius: 50%;
}

.login[data-logged] .user__avatar {
  border-color: var(--moderate-blue);
}

.login-user {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-inline: auto;
}

.login-user__name {
  font-size: 1.125rem;
  color: var(--dark-blue);
}

.login-user__status {
  font-size: 0.875rem;
  color: var(--grayish-blue);
}

.login[data-logged] .login-user__status {
  color: var(--moderate-blue);
}

.login-button {
  flex: 1 1 auto;
  text-transform: uppercase;
  color: var(--white);
  border-radius: var(--border-radius);
  background-color: var(--moderate-blue);
  padding: 1em 1.5em;
}

.login[data-logged] .login-button {
  cursor: not-allowed;
  background-color: var(--grayish-blue);
}

/*******************************************/
/* Main Container */
#main {
  display: flex;
  flex-direction: column;
  row-gap: var(--block-gap);
  width: min(calc(100vw - 2rem), 45.75rem);
  padding-block: 5rem 2rem;
}

/* All Comments Container */
#comments-con {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: var(--block-gap);
}

/* New Post Container */
.post-con {
  display: flex;
  flex-direction: column;
  row-gap: var(--block-gap);
}

/*******************************************/
/* Post - Comment Article */
.comment {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1.25rem 1rem;
}

/* Post - User Infos */
.user {
  display: grid;
  justify-content: flex-start;
  align-items: center;
  grid-template-areas: 'user-avatar user-text';
  column-gap: 1rem;
  grid-area: user;
}

.user-text {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1rem;
  grid-area: user-text;
}

.user-text__name {
  display: inline-flex;
  column-gap: 0.25rem;
  font-size: var(--fs-default);
  font-weight: 500;
  color: var(--dark-blue);
}

.user__mark {
  font-weight: 400;
  color: var(--white);
  background-color: var(--moderate-blue);
  border-radius: 0.18rem;
  padding: 0 0.375em 0.125em;
}

.user-text__commented {
  color: var(--grayish-blue);
}

.user__avatar {
  width: 2rem;
  vertical-align: middle;
  grid-area: user-avatar;
}

/* Post - User Comment */
.comment-content {
  width: 100%;
  grid-area: comment-content;
}

.comment-content > p {
  color: var(--grayish-blue);
  line-height: 1.5em;
}

.comment-content .replying-to {
  color: var(--moderate-blue);
  font-weight: 500;
}

/* Post - Rating Container */
.rate {
  width: max-content;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  background-color: var(--very-light-gray);
  border-radius: var(--border-radius);
  padding: 0.375rem;
  grid-area: rate;
}

.rate__button {
  width: 27px;
  height: 27px;
  padding: 0.5rem;
}

.rate__button > svg path {
  transition: fill var(--transition);
}

.rate__button.voted > svg path {
  fill: var(--moderate-blue);
}

.rate__button:hover > svg path,
.rate__button:focus-visible > svg path {
  fill: var(--moderate-blue);
}

.rate__score {
  font-weight: 500;
  color: var(--moderate-blue);
}

/* Post - Options Buttons Container */
.options {
  display: flex;
  column-gap: 1rem;
  justify-self: flex-end;
  grid-area: options;
}

.options__button {
  column-gap: 0.5rem;
  padding-block: 0.25rem;
}

.options__reply-btn {
  color: var(--moderate-blue);
}

.options__del-btn {
  color: var(--soft-Red);
}

.options__edit-btn {
  color: var(--moderate-blue);
}

/*******************************************/
/* Post - Replies Section */
.replies {
  display: flex;
  flex-direction: column;
  row-gap: var(--block-gap);
  padding-inline-start: clamp(1.125rem, 4vw, 1.25rem);
  position: relative;
}

.replies::before {
  content: '';
  display: block;
  width: 2px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: hsl(211, 10%, 45%, 0.1);
}

/*******************************************/
/* Form Container */
.form {
  display: grid;
  align-items: center;
  justify-items: flex-start;
  grid-template-areas: 'textarea textarea' 'user-avatar form-buttons';
  gap: var(--block-gap);
}

.textarea-con {
  width: 100%;
  height: 100%;
  display: flex;
  border: 1px solid var(--light-gray);
  border-radius: var(--border-radius);
  overflow: hidden;
  grid-area: textarea;
}

.textarea-con:focus-within {
  border: 1px solid var(--moderate-blue);
}

.form__txtarea {
  width: 100%;
  height: 100%;
  min-height: 6rem;
  font-family: var(--ff-rubik);
  font-size: var(--fs-default);
  border: none;
  border-radius: var(--border-radius);
  background-color: transparent;
  padding: 1em 1.5em;
  resize: none;
  caret-color: var(--moderate-blue);
}

.form__txtarea:focus-visible {
  outline: none;
}

.form-buttons {
  display: flex;
  flex-flow: row-reverse wrap;
  gap: var(--block-gap);
  justify-self: flex-end;
  grid-area: form-buttons;
}

.form__button {
  width: 6.5rem;
  font-size: var(--fs-default);
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--moderate-blue);
  border-radius: var(--border-radius);
  padding: 0.875em;
}

.form-avatar {
  grid-area: user-avatar;
}

.form-update {
  grid-auto-columns: 1fr 1fr !important;
  grid-template-areas: 'textarea' 'form-buttons' !important;
}

.form-update .form-buttons {
  flex-flow: row-reverse wrap !important;
}

/*******************************************/
/* Delete Comment Container */
.del-comment-con {
  width: 100vw;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: hsl(0, 0%, 0%, 0.4);
  z-index: 20;
}

.del-comment-con.active {
  display: flex;
}

.del-comment {
  width: min(calc(100% - 2rem), 25rem);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 1rem;
  background-color: var(--white);
  border-radius: var(--border-radius);
  padding: clamp(1.5rem, 4vw, 2rem);
}

.del-comment > h2 {
  font-size: clamp(1.25rem, 4vw, 1.5rem);
  font-weight: 500;
  color: var(--dark-blue);
}

.del-comment > p {
  line-height: 1.5em;
  color: var(--grayish-blue);
}

.del-comment__btn {
  width: clamp(8.75rem, 48%, 10.5rem);
  color: var(--white);
  text-transform: uppercase;
  border-radius: var(--border-radius);
  padding-block: 1em;
}

#cancel-del-comment,
.form__cancel-btn {
  background-color: var(--grayish-blue);
}

#confirm-del-comment {
  background-color: var(--soft-Red);
}

/*******************************************/
/* Footer Container */
footer {
  padding: 0 1rem 2rem;
  text-align: center;
}

.attribution {
  line-height: 1.6em;
  color: var(--dark-blue);
}

.attribution > .fa-heart {
  color: var(--soft-Red);
}

.attribution > a {
  color: inherit;
  transition: color var(--transition);
}

.attribution > a:hover {
  color: var(--moderate-blue);
}

/*******************************************/
/* Media Queries */
@media (max-width: 370px) {
  .del-comment__btn {
    width: 100%;
  }
}

@media (min-width: 700px) {
  .comment {
    display: grid;
    justify-items: flex-start;
    align-items: flex-start;
    grid-auto-rows: min-content 1fr;
    grid-auto-columns: min-content 1fr min-content;
    grid-template-areas: 'rate user options' 'rate comment-content comment-content';
    row-gap: 1.25rem;
  }

  .rate {
    flex-direction: column;
  }

  .options {
    align-self: center;
  }

  .replies {
    padding-inline-start: clamp(1.5rem, 6vw, 5.5rem);
  }

  .replies::before {
    left: clamp(0.75rem, 3vw, 2.75rem);
  }

  .form {
    align-items: flex-start;
    grid-auto-columns: min-content 1fr min-content;
    grid-template-areas: 'user-avatar textarea form-buttons';
  }

  .form-buttons {
    flex-direction: column;
  }
}
