@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*******************************************/
/* Variables */
:root {
  --clr-primary-01: hsl(238, 40%, 52%);
  --clr-primary-02: hsl(358, 79%, 66%);
  --clr-primary-03: hsl(239, 57%, 85%);
  --clr-primary-04: hsl(357, 100%, 86%);
  --clr-primary-05: var(--clr-neutral-02);

  --clr-neutral-01: hsl(212, 24%, 26%);
  --clr-neutral-02: hsl(211, 10%, 45%);
  --clr-neutral-03: hsl(223, 19%, 93%);
  --clr-neutral-04: hsl(228, 33%, 97%);
  --clr-neutral-05: hsl(0, 0%, 100%);
  --clr-neutral-06: hsl(0, 0%, 100%, 0.97);
  --clr-neutral-07: hsl(211, 10%, 45%, 0.1);
  --clr-neutral-08: var(--clr-neutral-05);

  --clr-textarea: hsl(0, 0%, 0%);
  --clr-placeholder: var(--clr-neutral-02);
  --clr-delete-overlay: hsl(0, 0%, 0%, 0.4);

  --ff-rubik: 'Rubik', sans-serif;
  --fs-default: clamp(0.875rem, 5vw, 1rem);
  --border-radius: 0.5rem;
  --transition: 150ms ease;
  --slow-transition: 300ms ease;
  --theme-transition: 400ms ease;
  --block-gap: 1rem;
  --box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.1);
  --header-height: 3.125rem;
}

/* Dark Mode Colors */
[data-dark-mode]:root {
  --clr-primary-01: hsl(238, 100%, 80%);
  --clr-primary-03: hsl(0, 0%, 45%);
  --clr-primary-05: hsl(240, 7%, 70%);

  --clr-neutral-01: hsl(0, 0%, 98%);
  --clr-neutral-02: hsl(210, 9%, 91%);
  --clr-neutral-03: hsl(0, 0%, 30%);
  --clr-neutral-04: hsl(0, 0%, 12%);
  --clr-neutral-05: hsl(0, 0%, 16%);
  --clr-neutral-06: hsl(0, 0%, 16%, 0.98);
  --clr-neutral-07: hsl(210, 9%, 91%, 0.1);
  --clr-neutral-08: var(--clr-neutral-04);

  --clr-textarea: hsl(0, 0%, 96%);
  --clr-placeholder: hsl(214, 8%, 70%);
  --clr-delete-overlay: hsl(0, 0%, 0%, 0.6);
}

/*******************************************/
/* General Styles */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: var(--ff-rubik);
  font-size: var(--fs-default);
  background-color: var(--clr-neutral-04);
  transition: background-color var(--theme-transition);
}

button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-family: var(--ff-rubik);
  font-size: var(--fs-default);
  font-weight: 500;
  transition: background-color var(--theme-transition);
}

a {
  text-decoration: none;
}

.hero-container {
  width: 100%;
  background-color: var(--clr-neutral-05);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  padding: clamp(1rem, 3vw, 1.5rem);
  transition: background-color var(--theme-transition);
}

.btn--hover {
  transition: opacity var(--transition);
}

.btn--hover:hover,
.btn--hover:focus-visible {
  opacity: 0.5;
}

svg {
  pointer-events: none;
}

.hidden {
  display: none !important;
}

/*******************************************/
/* Header Container */
#header {
  width: 100%;
  height: var(--header-height);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--clr-neutral-06);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  padding-block: 0.75rem;
  z-index: 10;
  overflow: hidden;
  transition: border-radius var(--slow-transition), height var(--slow-transition), background-color var(--theme-transition), box-shadow var(--theme-transition);
}

[data-dark-mode] #header {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.8);
}

#header.active {
  height: 100vh;
  border-radius: 0;
  animation: header-down var(--slow-transition) forwards;
}

#header::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  top: var(--header-height);
  background-color: var(--clr-primary-01);
  transform-origin: left;
  transform: scaleX(0);
  transition: transform var(--slow-transition);
}

#header.active::after {
  transform: scaleX(1);
}

@keyframes header-down {
  99% {
    overflow: hidden;
  }
  100% {
    overflow: auto;
  }
}

@supports (backdrop-filter: blur()) {
  html:not([data-dark-mode]) #header {
    --clr-neutral-06: hsl(0, 0%, 100%, 0.95);
    background-color: var(--clr-neutral-06);
    backdrop-filter: blur(2px);
  }
}

#menu-buttons {
  width: min(calc(100vw - 2rem), 45.75rem);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-self: flex-start;
  column-gap: 1.5rem;
  padding-inline: 1rem;
}

#switch-theme {
  position: relative;
}

#switch-input {
  appearance: none;
  position: absolute;
}

#switch-label {
  width: 3rem;
  display: flex;
  justify-content: space-between;
  position: relative;
  cursor: pointer;
  font-size: 1rem;
  color: var(--clr-neutral-01);
  background-color: var(--clr-neutral-05);
  border: 1px solid var(--clr-primary-01);
  border-radius: 0.75rem;
  padding: 0.25rem;
  transition: background-color var(--theme-transition), color var(--theme-transition);
}

#switch-label::after {
  content: '';
  display: block;
  position: absolute;
  top: 0.125rem;
  left: 0.125rem;
  width: 1.25rem;
  height: 1.25rem;
  background-color: var(--clr-primary-01);
  border-radius: 50%;
  transition: transform var(--theme-transition);
}

#switch-input:checked + #switch-label::after,
[data-dark-mode] #switch-label::after {
  transform: translateX(1.375rem);
}

#menu-btn {
  display: block;
  width: 20px;
  border-top: 2px solid;
  color: var(--clr-primary-01);
}

#menu-btn::before,
#menu-btn::after {
  content: '';
  display: block;
  width: 20px;
  height: 2px;
  position: relative;
  background-color: currentColor;
  margin-top: 5px;
  transition: transform var(--slow-transition);
}

#header.active #menu-btn {
  border-top-color: transparent;
  color: var(--clr-primary-02);
}

#header.active #menu-btn::before {
  transform: rotate(135deg);
}

#header.active #menu-btn::after {
  transform: rotate(-135deg);
  top: -7px;
}

#menu-drop-down {
  width: min(calc(100vw - 2rem), 45.75rem);
  height: calc(100% - var(--header-height));
  position: absolute;
  top: var(--header-height);
  animation: hide-menu 300ms ease forwards;
}

#header.active #menu-drop-down {
  animation-name: show-menu;
}

@keyframes hide-menu {
  to {
    visibility: hidden;
  }
}

@keyframes show-menu {
  to {
    visibility: visible;
  }
}

#drop-down-content,
#login-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--block-gap);
}

#drop-down-content {
  padding-block: 1rem 2rem;
}

#drop-down-content > h2 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--clr-neutral-01);
  margin-block-end: 1rem;
  transition: color var(--theme-transition);
}

#login-cards {
  width: 100%;
}

.login {
  width: min(100%, 400px);
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: var(--block-gap);
  background-color: var(--clr-neutral-04);
  border-radius: var(--border-radius);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  transition: background-color var(--theme-transition);
}

.login .user__avatar {
  width: 2.5rem;
  border: 2px solid var(--clr-primary-05);
  border-radius: 50%;
  transition: border-color var(--theme-transition);
}

.login[data-logged] .user__avatar {
  border-color: var(--clr-primary-01);
}

.login-user {
  width: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.25rem var(--block-gap);
}

.login-user__name {
  font-size: 1rem;
  color: var(--clr-neutral-01);
  transition: color var(--theme-transition);
}

.login-user__status {
  font-size: 0.875rem;
  color: var(--clr-primary-05);
  transition: color var(--theme-transition);
}

.login[data-logged] .login-user__status {
  color: var(--clr-primary-01);
  font-weight: 500;
}

.login-button {
  flex: 1 1 100%;
  text-transform: uppercase;
  font-size: 0.875rem;
  color: var(--clr-neutral-08);
  border-radius: var(--border-radius);
  background-color: var(--clr-primary-01);
  padding: 0.875em 1.5em;
  transition: color var(--theme-transition), background-color var(--theme-transition);
}

.login[data-logged] .login-button {
  cursor: not-allowed;
  background-color: var(--clr-primary-05);
}

/*******************************************/
/* Main Container */
#main {
  display: flex;
  flex-direction: column;
  row-gap: var(--block-gap);
  width: min(calc(100vw - 2rem), 45.75rem);
  padding-block: 5rem 2rem;
}

/* All Comments Container */
#comments-con {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: var(--block-gap);
}

/* New Post Container */
.post-con {
  display: flex;
  flex-direction: column;
  row-gap: var(--block-gap);
}

/*******************************************/
/* Post - Comment Article */
.comment {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1.25rem 1rem;
}

/* Post - User Infos */
.user {
  display: grid;
  justify-content: flex-start;
  align-items: center;
  grid-template-areas: 'user-avatar user-text';
  column-gap: 1rem;
  grid-area: user;
}

.user-text {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1rem;
  grid-area: user-text;
}

.user-text__name {
  display: inline-flex;
  column-gap: 0.25rem;
  font-size: var(--fs-default);
  font-weight: 500;
  color: var(--clr-neutral-01);
  transition: color var(--theme-transition);
}

.user__mark {
  font-weight: 400;
  color: var(--clr-neutral-08);
  background-color: var(--clr-primary-01);
  border-radius: 0.18rem;
  padding: 0 0.375em 0.125em;
  transition: color var(--theme-transition), background-color var(--theme-transition);
}

.user-text__commented {
  color: var(--clr-primary-05);
  transition: color var(--theme-transition);
}

.user__avatar {
  width: 2rem;
  vertical-align: middle;
  grid-area: user-avatar;
}

/* Post - User Comment */
.comment-content {
  width: 100%;
  grid-area: comment-content;
}

.comment-content > p {
  color: var(--clr-neutral-02);
  line-height: 1.5em;
  transition: color var(--theme-transition);
}

.comment-content .replying-to {
  color: var(--clr-primary-01);
  font-weight: 500;
  transition: color var(--theme-transition);
}

/* Post - Rating Container */
.rate {
  width: max-content;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  background-color: var(--clr-neutral-04);
  border-radius: var(--border-radius);
  padding: 0.375rem;
  grid-area: rate;
  transition: background-color var(--theme-transition);
}

.rate__button {
  width: 27px;
  height: 27px;
  padding: 0.5rem;
}

.rate__button > svg path {
  fill: var(--clr-primary-03);
  transition: fill var(--transition);
}

.rate__button.voted > svg path {
  fill: var(--clr-primary-01);
}

.rate__button:hover > svg path,
.rate__button:focus-visible > svg path {
  fill: var(--clr-primary-01);
}

.rate__score {
  font-weight: 500;
  color: var(--clr-primary-01);
  transition: color var(--theme-transition);
}

/* Post - Options Buttons Container */
.options {
  display: flex;
  column-gap: 1rem;
  justify-self: flex-end;
  grid-area: options;
}

.options__button {
  column-gap: 0.5rem;
  padding-block: 0.25rem;
  transition: color var(--theme-transition);
}

.options__button svg path {
  fill: currentColor;
}

.options__reply-btn {
  color: var(--clr-primary-01);
}

.options__del-btn {
  color: var(--clr-primary-02);
}

.options__edit-btn {
  color: var(--clr-primary-01);
}

/*******************************************/
/* Post - Replies Section */
.replies {
  display: flex;
  flex-direction: column;
  row-gap: var(--block-gap);
  padding-inline-start: clamp(1.125rem, 4vw, 1.25rem);
  position: relative;
}

.replies::before {
  content: '';
  display: block;
  width: 2px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--clr-neutral-07);
  transition: background-color var(--theme-transition);
}

/*******************************************/
/* Form Container */
.form {
  display: grid;
  align-items: center;
  justify-items: flex-start;
  grid-template-areas: 'textarea textarea' 'user-avatar form-buttons';
  gap: var(--block-gap);
}

.textarea-con {
  width: 100%;
  height: 100%;
  display: flex;
  border: 1px solid var(--clr-neutral-03);
  border-radius: var(--border-radius);
  overflow: hidden;
  grid-area: textarea;
  transition: border-color var(--theme-transition);
}

.textarea-con:focus-within {
  border-color: var(--clr-primary-01);
}

.form__txtarea {
  width: 100%;
  height: 100%;
  min-height: 6rem;
  color: var(--clr-textarea);
  font-family: var(--ff-rubik);
  font-size: var(--fs-default);
  border: none;
  border-radius: var(--border-radius);
  background-color: transparent;
  padding: 1em 1.5em;
  resize: none;
  caret-color: var(--clr-primary-01);
  transition: color var(--theme-transition);
}

.form__txtarea::placeholder {
  color: var(--clr-placeholder);
  transition: color var(--theme-transition);
}

.form__txtarea:focus-visible {
  outline: none;
}

.form-buttons {
  display: flex;
  flex-flow: row-reverse wrap;
  gap: var(--block-gap);
  justify-self: flex-end;
  grid-area: form-buttons;
}

.form__button {
  width: 6.5rem;
  font-size: var(--fs-default);
  text-transform: uppercase;
  color: var(--clr-neutral-08);
  background-color: var(--clr-primary-01);
  border-radius: var(--border-radius);
  padding: 0.875em;
  transition: color var(--theme-transition), background-color var(--theme-transition);
}

.form-avatar {
  grid-area: user-avatar;
}

.form-update {
  grid-auto-columns: 1fr 1fr !important;
  grid-template-areas: 'textarea' 'form-buttons' !important;
}

.form-update .form-buttons {
  flex-flow: row-reverse wrap !important;
}

/*******************************************/
/* Delete Comment Container */
.del-comment-con {
  width: 100vw;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--clr-delete-overlay);
  z-index: 20;
}

.del-comment-con.active {
  display: flex;
}

.del-comment {
  width: min(calc(100% - 2rem), 25rem);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem 0.875rem;
  background-color: var(--clr-neutral-05);
  border-radius: var(--border-radius);
  padding: clamp(1.5rem, 4vw, 2rem);
}

.del-comment > h2 {
  font-size: clamp(1.25rem, 4vw, 1.5rem);
  font-weight: 500;
  color: var(--clr-neutral-01);
}

.del-comment > p {
  line-height: 1.5em;
  color: var(--clr-neutral-02);
}

.del-comment__btn {
  flex: 1 1 auto;
  color: var(--clr-neutral-05);
  text-transform: uppercase;
  border-radius: var(--border-radius);
  padding: 1em 1.25em;
}

#cancel-del-comment,
.form__cancel-btn {
  background-color: var(--clr-primary-05);
}

#confirm-del-comment {
  background-color: var(--clr-primary-02);
}

/*******************************************/
/* Footer Container */
footer {
  padding: 0 1rem 2rem;
  text-align: center;
}

.attribution {
  line-height: 1.6em;
  color: var(--clr-neutral-01);
  transition: color var(--theme-transition);
}

.attribution > .fa-heart {
  color: var(--clr-primary-02);
}

.attribution > a {
  color: inherit;
  transition: color var(--transition);
}

.attribution > a:hover {
  color: var(--clr-primary-01);
}

/*******************************************/
/* Media Queries */
@media (min-width: 370px) {
  .login-button {
    flex-basis: auto;
  }
}

@media (min-width: 400px) {
  .login {
    justify-content: center;
  }

  .login .user__avatar {
    width: 3rem;
  }

  .login-user__name {
    font-size: 1.125rem;
  }

  .login-button {
    font-size: var(--fs-default);
    padding-block: 1em;
  }
}

@media (min-width: 700px) {
  .comment {
    display: grid;
    justify-items: flex-start;
    align-items: flex-start;
    grid-auto-rows: min-content 1fr;
    grid-auto-columns: min-content 1fr min-content;
    grid-template-areas: 'rate user options' 'rate comment-content comment-content';
    row-gap: 1.25rem;
  }

  .rate {
    flex-direction: column;
  }

  .options {
    align-self: center;
  }

  .replies {
    padding-inline-start: clamp(1.5rem, 8vw, 5.5rem);
  }

  .replies::before {
    left: clamp(0.75rem, 4vw, 2.75rem);
  }

  .form {
    align-items: flex-start;
    grid-auto-columns: min-content 1fr min-content;
    grid-template-areas: 'user-avatar textarea form-buttons';
  }

  .form-buttons {
    flex-direction: column;
  }
}
